.profile {
  margin: 0 auto 20px;
  width: 250px;
  background-color: #8da0b8;
  text-align: center;
  font-family: sans-serif;
}

.avatar {
  margin-top: 20px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.name {
  font-size: 20px;
  color: #103b70;
  margin: 0 0 8px 0;
  font-weight: bold;
}

.tag,
.location {
  font-size: 16px;
  font-weight: bold;
  color: #043264;
}

.stats {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; 
  background-color: silver;
}

.stats__items {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  border-right: #d8e0ea solid 2px;
  padding: 15px;
}

.label {
  margin-bottom: 5px;
}

.quantity {
  font-size: 14px;
  font-weight: bold;
}